{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "amd": true
  },
  "globals": {
    "Vue": false,
    "wp": false,
    "jQuery": false
  },
  "extends": [
    "plugin:@wordpress/eslint-plugin/esnext"
  ],
  "rules": {
    "object-shorthand": "off"
  }
}
