{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"amd": true,
		"jquery": true
	},
	"globals": {
		"wp": false
	},
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting"
	],
	"rules": {
		"object-shorthand": "off",
		"import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
	}
}
