.vanish{
  &-enter-active,
  &-leave-active{
    transition: opacity $animation-duration linear;
  }
  &-enter{
    opacity: 0;
  }
  &-enter-to{
    opacity: 1;
  }
  &-leave{
    opacity: 1;
  }
  &-leave-to{
    opacity: 0;
  }
}

.hb-loading-indicator{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, .8);
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60px);
    color: #aaa;
  }
}
