%card-border{
  border-left: 5px solid transparent;
}

@each $var in (
  success $success-color,
  info    $secondary-color,
  warning $warning-color,
  error   $error-color
){
  $class-name: nth($var, 1);
  $color: nth($var, 2);
  .card-#{$class-name}{
    @extend %card-border;
    border-left-color: $color;
  }
}

