$top-nav-bg: $gray-300 !default;
$top-nav-height: 50px !default;
$top-nav-avatar-size: 36px !default;
$top-nav-button-pos: ( $top-nav-height - $top-nav-avatar-size ) / 2 !default;
$top-nav-menu-bg: transparent !default;
$top-nav-menu-bg-active: $gray-400 !default;
$top-nav-menu-color: $gray-500 !default;
$top-nav-menu-color-hover: $gray-900 !default;
$top-nav-menu-transition: color .3s linear, background-color .3s linear !default;

.top-nav{
  background-color: $top-nav-bg;
  z-index: 1000;
}

.hb-header{
  // Title.
  &-title{
    text-align: center;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    height: $top-nav-height;
    line-height: $top-nav-height;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Avatar
  &-avatar{
    max-width: $top-nav-avatar-size;
    width: auto;
    height: auto;
    border-radius: 50%;
    vertical-align: middle;
  }

  // Menu button
  &-menu{
    position: absolute;
    top: $top-nav-button-pos;
    left: $top-nav-button-pos;
    z-index: 11;
    margin: 0;
    padding: 0;
    width: $top-nav-avatar-size;
    height: $top-nav-avatar-size;
    text-align: center;
    line-height: $top-nav-avatar-size;
    border: none;
    transition: $top-nav-menu-transition;
    color: $top-nav-menu-color;
    background-color: $top-nav-menu-bg;
    cursor: pointer;
    &:hover{
      color: $top-nav-menu-color-hover;
      background-color: $top-nav-menu-bg-active;
    }
    i{
      vertical-align: middle;
      color: inherit;
    }
  }

  &-dropdown{
    position: absolute;
    right: $top-nav-button-pos;
    top: $top-nav-button-pos;
    background-color: transparent;
    &-trigger{
      padding: 0;
      border: none;
    }

  }
}

.nav-wrapper{
  &.hb-nav-wrapper{
    text-align: left;
    & > *{
      z-index: 11;
    }
    .btn-floating .material-icons{
      height: 40px;
      line-height: 40px
    }
  }
  ul.right{
    position: relative;
    z-index: 11;
  }
}

.top-nav-over{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  & + .hb-main{
    padding-top: $navbar-height + 40;
  }
  & .hb-container{
    position: relative;
    z-index: 1000;
  }
}

