$main-background-color: #fff;

main{
  background: $main-background-color;
  padding-left: 300px;
  @media #{$medium-and-down} {
    padding-left: 0;
  }
}

.nav-wrapper .button-collapse{
  z-index: 11;
  padding: 0 18px;
  margin: 0;
}

.side-nav{
  &.initialized{
    transition: transform .05s linear;
  }
  &.open{
    transform: translateX(0);
  }
}

.hb-container{
  $pad: 1.5rem;
  padding: 0 $pad;
  @media #{$medium-and-down} {
    padding: 0 $pad / 2;
  }

}

.hb-main{
  padding: 1.5rem;
  @media #{$medium-and-down} {
    padding: 1.5rem 0.75rem;
  }
}

.row{
  @extend %clearfix;
}

.hb-masonry{
  $full-width: 100%;
  &-sizer,
  &-block{
    width: $full-width / 3;
  }
  &-block{
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    &[data-size='2']{
      width: $full-width / 3 * 2;
    }
    &[data-size='3']{
      width: $full-width;
    }
  }
}
