.section-title {
  margin: 0 0 1rem;
  font-size: 20px;
  font-weight: 700;
  color: $gray-500;
}

.hb-main-inner {
}

.hb-separator {
  margin: 1em 0 0.5em;
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  &:before {
    display: block;
    margin-bottom: 0.5em;
    content: "";
    max-width: 100px;
    width: 20%;
    height: 3px;
    background-color: #eee;
  }
}

.description {
  @extend .text-muted;
  font-size: 14px;
}