doctype
html
    block vars
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='./css/style.css')
    body
        section
            nav.top-nav.top-nav-over
                .hb-container
                    span.hb-header-title.page-title= title
                    a.btn.btn-circle.btn-sm.btn-link.btn-floating.waves-effect(href='./index.html')
                        i.material-icons chevron_left

            .hb-main
                .hb-container
                    .hb-main-inner
                        block content

        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='js/popper.min.js')
        script(src='js/bootstrap.min.js')
