extends _layout

block vars
    - var title = 'Editor';

block content
    .width-side-nav
        -
            var actions= {
              home: 'Home',
              build: 'Setting',
              help: 'Help'
            };
        ul.side-nav.side-nav-pad.side-nav-visible
            li
                .user-view.text-center
                    div.background
                        img(src='https://placekitten.com/800/400')
                    img.img-circle(src='https://placekitten.com/400/400')
                    a(href='#').user-view-link
                        span.user-text John Doe
            each label, icon in actions
                li
                    a.waves-effect(href='#')
                        i.material-icons= icon
                        = label
            li.active
                a.waves-effect(href='#')
                    i.material-icons touch_app
                    | Current Link
