/* Error: (max-width: 768px) isn't a valid CSS value.
 *   ,
 * 6 |   @media #{$medium-and-down} {
 *   |            ^^^^^^^^^^^^^^^^
 *   '
 *   src/scss/hb-components/_layout.scss 6:12  @import
 *   src/scss/_hb-components.scss 12:9         @import
 *   src/scss/hashboard.scss 14:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: (max-width: 768px) isn't a valid CSS value.\a   \2577 \a 6 \2502    @media #{$medium-and-down} {\a   \2502             ^^^^^^^^^^^^^^^^\a   \2575 \a   src/scss/hb-components/_layout.scss 6:12  @import\a   src/scss/_hb-components.scss 12:9         @import\a   src/scss/hashboard.scss 14:9              root stylesheet";
}
