$animation-duration: 0.3s !default;
$loading-duration: $animation-duration !default;
$loading-animation: opacity $loading-duration linear !default;
$loading-image-size: 100px !default;
$loading-container-min-height: $loading-image-size * 1.5;

.vanish{
  &-enter-active,
  &-leave-active{
    transition: $loading-animation;
  }
  &-enter{
    opacity: 0;
  }
  &-enter-to{
    opacity: 1;
  }
  &-leave{
    opacity: 1;
  }
  &-leave-to{
    opacity: 0;
  }
}



[data-loading-wrapper='true']{
  min-height: $loading-container-min-height;
}

.hb-loading-indicator{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, .8);
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $loading-image-size;
    height: $loading-image-size;
  }
  &-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60px);
    color: #aaa;
  }
}
