//
// Buttons
//
$btn-circle-size: 38px !default;
$btn-circle-size-lg: 48px !default;
$btn-circle-size-sm: 31px !default;
$btn-gap: 0.5em !default;
$btn-icon-margin: 0.25em !default;
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;


.btn {
	.material-icons {
		font-size: inherit;
		vertical-align: text-bottom;
		margin-right: $btn-icon-margin;

		&.last {
			margin-right: 0;
			margin-left: $btn-icon-margin;
		}
	}
	+ .btn {
		margin-left: $btn-gap;
	}
}


.btn.btn-circle {
	border-radius: 50%;
	width: $btn-circle-size;
	height: $btn-circle-size;
	line-height: $btn-circle-size;
	font-size: calc($btn-circle-size / 2);
	padding: 0;

	.material-icons {
		vertical-align: top;
		line-height: inherit;
	}

	@each $btn in (
		lg $btn-circle-size-lg,
		sm $btn-circle-size-sm
	) {
		$size: nth($btn, 1);
		$width: nth($btn, 2);
		&.btn-#{$size} {
			width: $width;
			height: $width;
			line-height: $width;
			font-size: calc($width / 2);
		}
	}
}

.btn.btn-floating {
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, .2);

	&:hover {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}

	&.btn-link {
		box-shadow: none;

		i {
		}

		&:hover {
			box-shadow: none;
		}
	}
}

.btn-rotate {
	i {
		transition: transform .2s $ease-in-out-sine;
	}

	&:hover {
		.material-icons {
			transform: rotate(360deg);
		}
	}
}
