%card-border{
  border-left: 5px solid transparent;
}

@each $var in (
  success $success,
  info    $secondary,
  warning $warning,
  error   $danger
){
  $class-name: nth($var, 1);
  $color: nth($var, 2);
  .card-#{$class-name}{
    @extend %card-border;
    border-left-color: $color;
  }
}
