$fieldset-color: $gray-700 !default;
$fieldset-margin: 40px !default;
$filedset-border-color: $fieldset-color !default;
$fieldset-border-width: 50px !default;
$fieldset-border-height: 5px !default;
$label-icon-color: $gray-500 !default;

.hb-form{
  & + & {
    &:before {
      content: "";
      display: block;
      margin: 0 auto $fieldset-margin;
      height: $fieldset-border-height;
      width: $fieldset-border-width;
      background-color: $filedset-border-color;
    }
  }
}

// Icon in label
.form-row,.input-group{
  label > .prefix {
    font-size: inherit;
    color: $label-icon-color;
    vertical-align: text-bottom;
    margin-right: 0.25em;
  }
}

.hb-fieldset{
  padding: 0.35em 0 0.75em;
  @extend %hb-row;
  border-color: $fieldset-color;
  margin-bottom: $fieldset-margin;
  &-description{
    color: $fieldset-color;
    padding: 0 0 0.5rem;
  }
  legend {
    color: $fieldset-color;
    padding: 5px 0;
    font-weight: bold;
  }
  .form-row{
    margin-bottom: 1em;
  }
}

.hb-separator{
  color: $fieldset-color;
  legend + .row &{
    margin-top: 0;
  }
}

.hb-input-description{
  margin: 0.2em 0 0.5em;
  color: $fieldset-color;
  font-size: 0.85em;
}

.hb-gravatar{
  &-img{
    display: block;
    margin: 0 0 0.5em;
    max-width: 160px;
    @media  only screen and (max-width: map-get($grid-breakpoints, md)) {
      max-width: 120px;
    }
    width: auto;
    height: auto;
  }
}


#hb-password-strength{
  margin: 1em 0;
  padding: 1em;
  font-size: 0.85em;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 2px;
  span:before{
    display: inline;
    content: "sentiment_neutral";
    font-family: "Material Icons";
    margin-right: 0.2em;
    font-size: 2em;
    vertical-align: middle;
  }
  &.weak{
    color: $error-color;
    border-color: $error-color;
    span:before{
      content: "sentiment_very_dissatisfied";
    }
  }
  &.strong{
    color: $success-color;
    border-color: $success-color;
    span:before{
      content: "sentiment_very_satisfied";
    }
  }
  &.good{
    color: $primary-color;
    border-color: $primary-color;
    span:before{
      content: "sentiment_satisfied";
    }
  }
  &.bad{
    color: $warning-color;
    border-color: $warning-color;
    span:before{
      content: "sentiment_dissatisfied";
    }
  }
}

.hb-status-display{
  padding: 1em;
  font-size: 0.9em;
  border: 1px solid transparent;
  margin: 0 0 1em;
  border-radius: 3px;
  &.success{
    color: $success-color;
    background: transparentize( $success-color, .9 );
  }
  &.error{
    color: $error-color;
    background: transparentize( $error-color, .9 );
  }
}
