$main-background-color: #fff;

.hb{
  background: $main-background-color;
  padding-left: 300px;
  @media #{$medium-and-down} {
    padding-left: 0;
  }
}


.hb-sidebar{
  width: 300px;
  position: fixed;
}


.hb-container{
  $pad: 1.5rem;
  padding: 0 $pad;
  @media #{$medium-and-down} {
    padding: 0 calc($pad / 2);
  }

}

.hb-main{
  padding: 1.5rem;
  @media #{$medium-and-down} {
    padding: 1.5rem 0.75rem;
  }
}

// Sidenav




.row{
  @extend %clearfix;
}
