// Color
$main-background-color: $white !default;

.hb {
	background: $main-background-color;
}

.hb-main {
	padding: 1.5rem;
	@include media-breakpoint-down(md) {
		padding: 1.5rem 0.75rem;
	}
}

.row {
	@extend %clearfix;
}
