$main-background-color: $white !default;

.hb{
  background: $main-background-color;
  padding-left: 300px;
  @media #{$medium-and-down} {
    padding-left: 0;
  }
}


.hb-sidebar{
  width: 300px;
  position: fixed;
}


.hb-container{

}

.hb-main{
  padding: 1.5rem;
  @media #{$medium-and-down} {
    padding: 1.5rem 0.75rem;
  }
}

// Sidenav




.row{
  @extend %clearfix;
}
