$loading-img-width: 100px !default;
$loading-img-height: $loading-img-width !default;
$loading-img-background: transparent url('#{$hb-img-path}/ripple.gif') left top no-repeat !default;
$loading-img-width-small: 60px !default;
$loading-img-height-small: $loading-img-width-small !default;

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  z-index: 1;
  opacity: .4;
  &:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
  }
  &:after {
    display: block;
    position: absolute;
    content: '';
    z-index: 9001;
    left: 50%;
    top: 50%;
    background: $loading-img-background;
    background-size: cover;
    transform: translate(-50%, -50%);
    width: $loading-img-width;
    height: $loading-img-height;
  }
  &-small {
    &:after {
      width: $loading-img-width-small;
      height: $loading-img-height-small;
    }
  }
}

.hb-main {
  &-title {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 10;
    & + .left,
    & + .left + .right {
      position: relative;
      z-index: 11;
    }
  }
  &-desc {
    padding: 0.5em 1.5em;
    color: $page-description-color;
    background-color: $page-description-bg;
    p{
      margin: 0;
      & + p{
        margin-top: 0.5em;
      }
    }
  }
  hr{
    margin: 2em 0;
    display: block;
    border: none;
    border-bottom: 1px solid $separator-color;
  }
}

.hb-main-inner {
}

.hb-main-inner {
  .pagination{
    text-align: center;
    a:link, a:visited {
      text-decoration: none;
    }
    a:hover, a:active {
      text-decoration: none;
    }

  }
}