// このファイルにはbootstrapのデフォルトマークアップ要素をカスタマイズする内容を記載します。
// 変数の上書きではなく、要素の追加に利用します。

$main-heading-margin-top: 1.5em !default;
$main-heading-margin-bottom: 1em !default;


$code-bg-color: $gray-200 !default;
$code-padding-y: .1875rem !default;
$code-padding-x: .375rem !default;
$pre-padding-x: 1rem !default;
$pre-padding-y: 1rem !default;
$pre-text-color: $gray-700 !default;

// Headings
.hb-container{
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: $main-heading-margin-top 0 $main-heading-margin-bottom;
		&:first-child {
			margin-top: 0;
		}
	}

	h6 {
		font-weight: $font-weight-bold;
	}
}

.section-title {
  margin: 0 0 1rem;
  font-size: 20px;
  font-weight: 700;
  color: $gray-500;
}

.hb-main-inner {
}

.hb-separator {
  margin: 1em 0 0.5em;
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  &:before {
    display: block;
    margin-bottom: 0.5em;
    content: "";
    max-width: 100px;
    width: 20%;
    height: 3px;
    background-color: #eee;
  }
}

.description {
  @extend .text-muted;
  font-size: 14px;
}

i.material-icons{
  font-size: inherit;
}

// コードブロック
code {
	background: $code-bg-color;
	padding: $code-padding-y $code-padding-x;
}

pre {
	padding: $pre-padding-y $pre-padding-x;
	background-color: $code-bg-color;
	color: $pre-text-color;
}
