%clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}


%hb-row{
  @extend %clearfix;
  $row-pad: -1.5rem;
  margin-right: $row-pad;
  margin-left: $row-pad;
  @media #{$medium-and-down} {
    margin-right:  $row-pad / 2;
    margin-left:  $row-pad / 2;
  }
}

code{
  padding: 2px 5px;
  display: inline-block;
  background-color: #f9f9f9;
  @extend .cyan-text, .text-darken-4;
}

%alert-box{
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 2px;
  font-size: 0.85em;
  border: 1px solid transparent;
  a:link, a:visited{
    color: inherit;
    text-decoration: underline;
  }
  a:hover, a:active{
    color: inherit;
    text-decoration: none;
    opacity: .8;
  }
}

.hb-info{
  @extend %alert-box;
  color: $secondary-color;
  border-color: $secondary-color;
}

.hb-warning{
  @extend %alert-box;
  color: $warning-color;
  border-color: $warning-color;
}
