$brand-yellow: #F4B700;
$brand-brown: #594324;
$brand-red: #E03A01;
$brand-blue: #176B86;
$brand-green: #4D8E26;

$primary-color: $brand-blue;
$warning-color: #ff6f00 !default;

//
$site-icon-max-width: 200px !default;
$site-title-color: #888 !default;

// Description
$page-description-color: #888 !default;
$page-description-bg: #f9f9f9 !default;

// Other
$separator-color: #e0e0e0;

// Animation
$animation-duration: .5s;
